.list{
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
    text-align: center;
}



.thelist {
    color: #00A2E8;
    border: var(--clr-neon) 0.125em solid; 
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
}